@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&display=swap');

body {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
}

header{
    background: #6B0606;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 0;
}

header p {
    font-size: 0.7rem;
    color: #fff;
    font-weight: bold;
}

.grid-con{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.navA {
  padding: 30px;
}

.navA img{
  width: 20px;
}

.navB {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.navB a{
  text-decoration: none;
  font-size: 0.9rem;
  color: #413c3c;
}

.navB a:hover {
  color: black;
  font-weight: bolder;
}

.navB img {
  width: 50px;
}

.navC {
  padding: 30px;
  display: flex;
  justify-self: end;
}

.navC img{
  width: 20px;
  margin-left: 10px;
}

.Beauty {
  display: flex;
  padding: 60px;
  align-items: center;
  justify-content: center;
  background-image: url('../img/icons/Big\ Lotus.png');
  background-size: 190px;
  background-position: center;
  background-repeat: no-repeat;
}

.Beauty img {
  width: 20%;
  padding-top: 30px;
}

.mainImg {
  height: 500px;
}

.text {
  text-align: center;
  height: 200px;
}

.text h2{
  color: #6B0606;
  font-family: 'Cactus Classical Serif';
  font-size: 2.2rem;
  font-weight: 600;
}

.text p{
  color: #413c3c;
}

.Hands-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Hands{
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: space-around;
  color: #413c3c;
}

.Hands img {
  width: 36%;
}

.Treatment h2{
  color: #6B0606;
  font-family: 'Cactus Classical Serif';
  font-size: 1.5rem;
}

.container {
  background:#DFBFA8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
}

.beauty-con {
  background: #fff;
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: 40% 60%;
}

.image {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child {
  width: 80%;
  height: 90%;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.halfText {
  height: 50%;
}

.textB p{
  font-size: 0.9rem;
  font-family: 'Cactus Classical Serif';
  font-weight: bold;
  color: #6B0606;
}

.placeholder {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
}

.input-box input{
  width: 80%;
  height: 39%;
  outline: none;
  border-radius: 2px;
  border: 2px solid #c7c5c5;
  font-family: 'Cactus Classical Serif';
}

.input-box p{
  height: 10%;
}

.select {
  height: 25%;
  margin-bottom: 10px;
}

.select p{
  height: 7px;
}

.select select{
  width: 92%;
  height: 30px;
  border-radius: 2px;
  font-family: 'Cactus Classical Serif';
  color: #413c3c;
}

.halfText button {
  width: 92%;
  height: 30px;
  background-color: #6B0606;
  border: none;
  color: #fff;
  border-radius: 3px;
}

.Our_shop {
  height: 200px;
  text-align: center;
  color: #413c3c;
}

.Our_shop h2 {
  color: #6B0606;
  font-size: 1.9rem;
}

.Our_shop p {
  height: 30px;
}

.items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.items a{
  text-decoration: none;
  color: #413c3c;
  font-weight: bold;
}

.Make_up {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  height: 900px;
}

.ContainerM img{
  width: 80%;
}

.ContainerM {
  text-align: center;
}

.ContainerM p{
  text-align: center;
  color: #413c3c;
  font-weight: bold;
}

.btn5ml {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.btn5ml button {
  background-color: #c42c2c;
  border: 1px solid #ddd;
}

footer {
  background-color: #DFBFA8;
  bottom: 0;
  width: 100%;
  background-image: url('../img/Great\ Lotus.png');
  background-size: 257px;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-elem {
  text-align: center;
  margin: 0 auto;
}

.footer-elem .images{
  width: 50px;
  position: relative;
  top: 20px;
}

.lasman {
  height: 40px;
}

.footer-elem p{
  color: #726a6a;
  height: 50%;
  text-align: center;
  font-size: 0.8rem;
}

.Ficons img{
  width: 20px;
  padding: 10px;
}

.Copyright {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.Copyright p{
  color: #ffffff8c;
  font-size: 0.8rem;
}

.Copyright img {
  height: 20px;
}

